@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geom Graphic W03 Regular';
  src: url('https://db.onlinewebfonts.com/t/b0b8a10e9c97391e66297c8b5398984f.eot');
  src: url('https://db.onlinewebfonts.com/t/b0b8a10e9c97391e66297c8b5398984f.eot?#iefix') format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/b0b8a10e9c97391e66297c8b5398984f.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/b0b8a10e9c97391e66297c8b5398984f.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/b0b8a10e9c97391e66297c8b5398984f.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/b0b8a10e9c97391e66297c8b5398984f.svg#Geom Graphic W03 Regular') format('svg');
}
body {
  font-family: 'Geom Graphic W03 Regular';
  background-color: black;
}
.button-clipPath {
  -webkit-clip-path: polygon(20px 0, 100% 0, 100% 50%, calc(100% - 20px) 100%, 0 100%, 0 50%);
  clip-path: polygon(20px 0, 100% 0, 100% 50%, calc(100% - 20px) 100%, 0 100%, 0 50%);
}
.drop-shadow-btn {
  filter: drop-shadow(0px 0px 14px #007bff);
}
.drop-shadow-btn:hover {
  filter: drop-shadow(0px 0px 14px #ffffff55);
}
.drop-shadow-text {
  filter: drop-shadow(0px 0px 5px #007bff);
}

.icon:hover {
  fill: #c7e0f4;
}
.icon-path:hover {
  stroke: #ffffff;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navbar-bg {
  background: #000000bf;
  filter: drop-shadow(0px 0px 14px #000000);
}
